# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# PyInstaller / Executables / Build Artifacts
build/
dist/
*.spec
*.exe
*.zip
*.ico
!frontend/downloads/EggDL_Setup.exe

# Database & Local Logs
*.db
*.sqlite3
*.log
pro_downloader.db
eggdl.db
server.log
BrowserAppProfile/
test_error.txt

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

downloads_test/
*.bin
*.mp4
android_build/
